<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>K12jie'kou</display-name>	
	
	<!-- 系统接口信息初始化监听器 -->
		
	<listener>
	    <listener-class>com.aplus.v1.framework.listener.AppInterfaceListener</listener-class>
	</listener>
	
	<!-- 封装自定义消息过滤器 -->
	<filter>
  		<filter-name>protocalParserFilter</filter-name>
  		<filter-class>com.aplus.v1.framework.filter.ProtocolParserFilter</filter-class>
  		<init-param>  
            <param-name>isHanderFile</param-name>  
            <param-value>true</param-value>  
        </init-param>  
  	</filter>
  	
  	
  	<!-- 优先顺序为文件消息 -->
  	<filter-mapping>
  		<filter-name>protocalParserFilter</filter-name>
  		<url-pattern>/interfaceCall.if</url-pattern>
  	</filter-mapping>
  	
  	
  	
  	<!-- 公共接口调用主入口Servlet -->
  	<servlet>
  		<servlet-name>IFCallCommonServlet</servlet-name>
  		<servlet-class>com.aplus.v1.framework.servlet.MainIFCallCommonServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>IFCallCommonServlet</servlet-name>
  		<url-pattern>/interfaceCall.if</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>tServlet</servlet-name>
  		<servlet-class>servlet.TestServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>tServlet</servlet-name>
  		<url-pattern>/test</url-pattern>
  	</servlet-mapping>
  	
  	
  	
</web-app>
